<div class="mt-3">
    {% set profile = app.user ? app.user.profile : null %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="d-flex flex">
        {% if profile %} 
        <div class="px-2">
            <img class="rounded" src="{{ vich_uploader_asset(profile, 'imageFile')| imagine_filter('user_post') }}" 
                    title="{{ profile }}" />          
        </div>    
        {% endif %} 
                        
        <div class="input-group mb-3">
        {{ form_widget(form.message) }}
        <button class="btn btn-outline-secondary">
            <i class="bi bi-send"></i>
            
        </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>