{% set gusta = false %}
{% set num_likes = likes | length %}
    
<span>

            {# si hay personas que le gusta la publicacion #}
            {% if num_likes > 1  %}
                <i class="bi bi-hand-thumbs-up me-1"></i>
                A 
                <a href="{{ path('likes_post', {'id':id}) }}"
                    data-bs-toggle="modal" 
                    data-bs-target="#info-modal"
                    title="People who likes this post"> 
                    {{ num_likes }} personas 
                </a>
                les gusta esto.
            {% endif %}

            {# si hay un unico usuario que le gusta la publicacion  #}
            {% if num_likes == 1  %}
                <i class="bi bi-hand-thumbs-up me-1"></i>
                A 
                <a href="{{ path('app_wall', {'username': likes[0].user.username }) }}">
                    {{ likes[0].user }} 
                </a> le gusta esto.
            {% endif %}

        {% else %}
            
        <i class="fa fa-thumbs-o-up"></i>
            {# si hay personas que le gusta la publicacion #}
            {% if num_likes-1 > 1  %}
                A ti y a 
                {# <a class="ver-likes" href="{{ path('ver_me_gusta', {'id':id, 'recurso':'timeline'})}}"> #}
                    {{ num_likes-1 }} personas
                {# </a>  #}
                les gusta esto.
            {% endif %}

            {# si hay un unico usuario que le gusta la publicacion  #}
            {% if num_likes-1 == 1  %}
            A ti y a
                {% if likes[0].user == app.user %}
                    {% set usuario = likes[1].user %}
                {% else %}    
                    {% set usuario = likes[0].user %}
                {% endif %}
                <a href="">{{ usuario }} </a>le gusta esto.
            {% endif %}

            {# si solo le gusta la publicacion al usuario actual #}
            {% if num_likes-1 == 0  %}
                Te gusta esto.
            {% endif %}

</span>

