{% set user = post.user %}
{% set profile = user.profile %}
<div class="card text-bg-light mb-3">
    <div class="card-body post">
        <div class="card-title">
            <div class="d-flex flex">
                <div>
                    <a href="{{ path('app_wall', {'username': user.username}) }}">
                        {% include "_imageUser.html.twig" with {'user': user, 'size': 'user_post'} %}
                    </a>
                </div>
            
                <div class="ms-3">
                    {% if user.username %}
                        <h4 class="post_user">
                            <a href="{{ path('app_wall', {'username': user.username}) }}">
                                {{ user }}
                            </a>
                        </h4>
                    {% else %}
                        {{ user }}
                    {% endif %}

                    {% if profile %}              
                        <span>
                            {{ profile.position }} - {{ profile.department }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>

        <p class="card-text">
            {{ post.message }}

            {% if post.event %}
                <h4>
                    <i class="bi bi-calendar2 me-2"></i> 
                    {{ post.event.date ? post.event.date|date('d/m/Y') : '' }}
                </h4>
                <p>{{ post.event.description|nl2br }}</p>
            
            {% endif %}
        </p>


        {% include "timeline/_likes.html.twig" with {'likes': post.likes} %}

        <div class="row mb-0">

            <div class="col align-middle text-center mx-auto d-grid ">
                <a href="{{ path('like_post', {'id': post.id}) }}" class="btn btn-outline-secondary {% if post.hasLike(app.user) %}active{% endif %}">
                    <i class="bi bi-hand-thumbs-up me-2"></i>
                    Like
                </a>
            </div>

            <div class="col align-middle text-center mx-auto d-grid">
                <a href="{{ path('post_comment', {'id': post.id}) }}" class="btn btn-outline-secondary add-comment">
                    <i class="bi bi-chat me-2"></i>
                    Comment
                </a>
            </div>
        </div>

        <div class="comment-form"></div>

        <div class="comments">
            {% for comment in post.comments %}
                {% include "timeline/_commentItem.html.twig" with {'comment': comment} %}
            {% endfor %}
        </div>
    </div>
</div>